/* CSS RESET */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: none;
  color: currentColor;
}

img, picture {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* Font Declaration */

@font-face {
  font-family: "Outfit";
  src: url("./fonts/outfit.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* DESIGN SYSTEM */

:root {
  --clr-blue300: 178 75% 65%;
  --clr-blue400: 178 60% 48%;
  --clr-blue500: 178 78% 31%;
  --clr-orange300: 39 100% 69%;
  --clr-orange400: 39 88% 58%;
  --clr-orange500: 39 83% 44%;
  --clr-silver300: 197 33% 89%;
  --clr-silver400: 198 23% 72%;
  --clr-silver500: 199 17% 51%;
  --clr-navy700: 199 35% 19%;
  --clr-navy800: 202 32% 15%;
  --clr-navy900: 201 45% 11%;

  --fw-medium: 500;
  --fw-bold: 700;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: var(--fw-medium);
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  line-height: 1.3;
  color: hsl(var(--clr-silver400));
  background-color: hsl(var(--clr-navy800));
}

.heading {
  font-weight: var(--fw-bold);
  letter-spacing: 0.06em;
}

.heading-l {
  font-size: 2.5rem;
}

.heading-m {
  font-size: 1.5rem;
}

.heading-s {
  font-size: 1.25rem;
}

.heading-xs {
  font-size: 1rem;
}

/* Common primary button properties */
.button-1, .button-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 1.125rem;
  padding-bottom: calc(1.125rem + 0.5rem);
  width: max-content;

  font-size: 1rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.06em;
  line-height: 1;

  cursor: pointer;
}

.button-1 {
  color: hsl(var(--clr-navy800));
  background-color: hsl(var(--clr-orange400));
  box-shadow: inset 0 -0.5rem hsl(var(--clr-orange500));
}

.button-2 {
  color: hsl(var(--clr-navy800));
  background-color: hsl(var(--clr-blue400));
  box-shadow: inset 0 -0.5rem hsl(var(--clr-blue500));
}

.button-1:hover {
  background-color: hsl(var(--clr-orange300));
}

.button-2:hover {
  background-color: hsl(var(--clr-blue300));
}

/* Common secondary button properties */
.secondary-button-1, .secondary-button-2 {
  display: block;
  outline: none;
  border: none;
  border-radius: 0.6rem;
  padding: 1.25rem;
  padding-bottom: calc(1.25rem + 0.25rem);
  width: max-content;

  font-size: 1rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.06em;

  cursor: pointer;
}

.secondary-button-1 {
  color: hsl(var(--clr-navy800));
  background-color: hsl(var(--clr-orange400));
  box-shadow: inset 0 -0.25rem hsl(var(--clr-orange500));
}

.secondary-button-2 {
  color: hsl(var(--clr-navy800));
  background-color: hsl(var(--clr-silver400));
  box-shadow: inset 0 -0.25rem hsl(var(--clr-silver500));
}

.secondary-button-1:hover {
  background-color: hsl(var(--clr-orange300));
}

.secondary-button-2:hover {
  background-color: hsl(var(--clr-silver300));
}

/* DESIGN */

.hide {
  display: none !important;
}

.start {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
}

.start .logo {
  display: flex;
  justify-content: center;
}

.player-selection {
  border-radius: 1rem;
  padding: 1.75rem 1.5rem;
  padding-bottom: calc(2rem + 0.5rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;

  background-color: hsl(var(--clr-navy700));
  box-shadow: inset 0 -0.5rem hsl(var(--clr-navy900));
}

.selection-heading {
  font-size: 1rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.06em;
}

.selection-sub-heading {
  font-size: 0.875rem;
  font-weight: var(--fw-medium);
  letter-spacing: 0.06em;
}

.selection {
  border-radius: 0.6rem;
  padding: 0.5rem;
  width: 100%;
  background-color: hsl(var(--clr-navy800));
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.selection img {
  height: 2rem;
  width: 2rem;
}

.selection > div {
  border-radius: 0.6rem;
  cursor: pointer;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection > div:not(.selected):hover {
  background-color: hsl(var(--clr-silver300) / 0.05);
}

.selection > .selected {
  background-color: hsl(var(--clr-silver400));
}

.selection > .selected img.silver-icon {
  display: none;
}

.selection > :not(.selected) img.navy-icon {
  display: none;
}

.mode-buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.mode-buttons > * {
  width: 100%;
}

.human-vs-cpu-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.human-vs-cpu-container > * {
  width: 100%;
}

.difficulty-selection {
  border-radius: 1rem;
  padding-block: 0.1rem;
  text-align: center;
  background-color: transparent;
  color: hsl(var(--clr-silver400));
  font-weight: var(--fw-bold);
  border-color: hsl(var(--clr-silver500));
}

.app-container {
  padding: 1.25rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container > * {
  width: 20.5rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;;
  justify-items: space-between;
}

.logo {
  justify-self: left;
}

.turn {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  border-radius: 0.32rem;
  padding: 0.6rem 1rem;
  padding-bottom: calc(0.6rem + 0.25rem);
  /* width: max-content; */

  font-size: 0.875rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.06em;

  cursor: default;

  color: hsl(var(--clr-silver400));
  background-color: hsl(var(--clr-navy700));
  box-shadow: inset 0 -0.25rem hsl(var(--clr-navy900));
}

.turn img {
  width: 1rem;
  height: 1rem;
}

.app.x-turn .turn .x-turn {
  display: block;
}

.app.x-turn .turn .o-turn {
  display: none;
}

.app.o-turn .turn .x-turn {
  display: none;
}

.app.o-turn .turn .o-turn {
  display: block;
}

.restart {
  justify-self: right;

  border-radius: 0.32rem;
  padding: 0.67rem;
  padding-bottom: calc(0.67rem + 0.25rem);
  aspect-ratio: 1/1;

  cursor: pointer;

  background-color: hsl(var(--clr-silver400));
  box-shadow: inset 0 -0.25rem hsl(var(--clr-silver500));
}

.restart:hover {
  background-color: hsl(var(--clr-silver300));
}

.restart > img {
  width: 1rem;
  height: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(3, 6rem);
  width: max-content;
}

.cell {
  display: block;
  border: none;
  border-radius: 0.6rem;
  padding: 1.5rem;
  padding-bottom: calc(1.5rem + 0.5rem);
  aspect-ratio: 1;

  cursor: pointer;

  background-color: hsl(var(--clr-navy700));
  box-shadow: inset 0 -0.5rem hsl(var(--clr-navy900));

  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5rem;
}

.cell.o-marked {
  background-image: url(./assets/icon-o.svg);
}

.cell.x-marked {
  background-image: url(./assets/icon-x.svg);
}

.cell.highlighted.o-marked {
  background-image: url(./assets/icon-o-navy.svg);
  background-color: hsl(var(--clr-orange400));
  box-shadow: inset 0 -0.5rem hsl(var(--clr-orange500));
}

.cell.highlighted.x-marked {
  background-image: url(./assets/icon-x-navy.svg);
  background-color: hsl(var(--clr-blue400));
  box-shadow: inset 0 -0.5rem hsl(var(--clr-blue500));
}

.app.o-turn:not(.ignore-hover) .cell:not(.o-marked):not(.x-marked):hover {
  background-image: url(./assets/icon-o-outline.svg);
}

.app.x-turn:not(.ignore-hover) .cell:not(.o-marked):not(.x-marked):hover {
  background-image: url(./assets/icon-x-outline.svg);
}

.x-wins, .ties, .o-wins {
  border-radius: 0.6rem;
  padding: 1rem 1.25rem;
  color: hsl(var(--clr-navy800));
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  line-height: 1;
}

.x-wins {
  background-color: hsl(var(--clr-blue400));
}

.ties {
  background-color: hsl(var(--clr-silver400));
}

.o-wins {
  background-color: hsl(var(--clr-orange400));
}

.name {
  white-space: nowrap;
}

.count {
  font-size: 1.25rem;
  letter-spacing: 0.06em;
  font-weight: var(--fw-bold);
}

dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
  width: 100vw;
  margin: 0;
  padding: 0;

  background-color: hsl(var(--clr-navy700));
  border: none;
}

dialog::backdrop {
  background-color: hsla(0, 0%, 0%, 0.6);
}

.modal-content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.modal-content .message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-content .message .sub {
  text-align: center;
  color: hsl(var(--clr-silver400));
  font-size: 0.875rem;
  letter-spacing: 0.06em;
}

.modal-content .message .main {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: hsl(var(--clr-silver400)); /* Default */
  font-size: 1.5rem;
  letter-spacing: 0.06em;
  text-align: center;
}

.modal-content .message.x-takes .main .img,
.modal-content .message.o-takes .main .img {
  --size: 1.875rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--size);
  width: var(--size);
  height: var(--size);
}

.modal-content .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modal-content .message.x-takes .main {
  color: hsl(var(--clr-blue400));
}

.modal-content .message.x-takes .main .img {
  background-image: url(./assets/icon-x.svg);
}

.modal-content .message.o-takes .main {
  color: hsl(var(--clr-orange400));
}

.modal-content .message.o-takes .main .img {
  background-image: url(./assets/icon-o.svg);
}

@media (min-width: 768px) {
  .button-1, .button-2 {
    font-size: 1.25rem;
  }

  .start {
    gap: 2.5rem;
  }

  .player-selection {
    padding: 2.125rem;
    padding-bottom: calc(2.125 + 0.5rem);
  }

  .mode-buttons {
    gap: 1.25rem;
  }

  .app-container {
    justify-content: center;
  }

  .app-container > * {
    width: 28.75rem;
  }

  .app {
    gap: 1.25rem;
  }

  .turn {
    gap: 0.75rem;
    border-radius: 0.6rem;
    padding: 0.75rem 1.875rem;
    padding-bottom: calc(0.75rem + 0.25rem);
    font-size: 1rem;
  }

  .turn img {
    width: 1.25rem;
    height: 1.25rem;
  }

  .restart {
    border-radius: 0.6rem;
    padding: 0.75rem;
    padding-bottom: calc(0.75rem + 0.25rem);
  }

  .restart > img {
    width: 1.25rem;
    height: 1.25rem;
  }

  .grid {
    grid-template-columns: repeat(3, 8.75rem);
  }

  .cell {
    border-radius: 1rem;
    background-size: 4rem;
    padding: 2.375rem;
    padding-bottom: calc(2.375rem + 0.5rem);
  }

  .x-wins, .ties, .o-wins {
    border-radius: 1rem;
    line-height: 1.2;
  }

  .count {
    font-size: 1.5rem;
  }

  .modal-content .message .sub {
    font-size: 1rem;
  }

  .modal-content .message .main {
    gap: 1.5rem;
    font-size: 2.5rem;
  }

  .modal-content .message.x-takes .main .img,
  .modal-content .message.o-takes .main .img {
    --size: 4rem;
  }
  
}