/* CSS RESET */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: none;
  color: currentColor;
}

img, picture {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* Font Declaration */

@font-face {
  font-family: "Outfit";
  src: url("./fonts/outfit.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* DESIGN SYSTEM */

:root {
  --clr-blue300: 178 75% 65%;
  --clr-blue400: 178 60% 48%;
  --clr-blue500: 178 78% 31%;
  --clr-orange300: 39 100% 69%;
  --clr-orange400: 39 88% 58%;
  --clr-orange500: 39 83% 44%;
  --clr-silver300: 197 33% 89%;
  --clr-silver400: 198 23% 72%;
  --clr-silver500: 199 17% 51%;
  --clr-navy700: 199 35% 19%;
  --clr-navy800: 202 32% 15%;
  --clr-navy900: 201 45% 11%;

  --fw-medium: 500;
  --fw-bold: 700;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: var(--fw-medium);
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  line-height: 1.3;
  color: hsl(var(--clr-silver400));
  background-color: hsl(var(--clr-navy800));
}

.heading {
  font-weight: var(--fw-bold);
  letter-spacing: 0.06em;
}

.heading-l {
  font-size: 2.5rem;
}

.heading-m {
  font-size: 1.5rem;
}

.heading-s {
  font-size: 1.25rem;
}

.heading-xs {
  font-size: 1rem;
}

/* Common primary button properties */
.button-1, .button-2 {
  display: block;
  border: none;
  border-radius: 1rem;
  padding: 1.5rem;
  padding-bottom: calc(1.5rem + 0.5rem);
  width: max-content;

  font-size: 1.25rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.06em;

  cursor: pointer;
}

.button-1 {
  color: hsl(var(--clr-navy800));
  background-color: hsl(var(--clr-orange400));
  box-shadow: inset 0 -0.5rem hsl(var(--clr-orange500));
}

.button-2 {
  color: hsl(var(--clr-navy800));
  background-color: hsl(var(--clr-blue400));
  box-shadow: inset 0 -0.5rem hsl(var(--clr-blue500));
}

.button-1:hover {
  background-color: hsl(var(--clr-orange300));
}

.button-2:hover {
  background-color: hsl(var(--clr-blue300));
}

/* Common secondary button properties */
.secondary-button-1, .secondary-button-2 {
  display: block;
  border: none;
  border-radius: 0.6rem;
  padding: 1.25rem;
  padding-bottom: calc(1.25rem + 0.25rem);
  width: max-content;

  font-size: 1rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.06em;

  cursor: pointer;
}

.secondary-button-1 {
  color: hsl(var(--clr-navy800));
  background-color: hsl(var(--clr-orange400));
  box-shadow: inset 0 -0.25rem hsl(var(--clr-orange500));
}

.secondary-button-2 {
  color: hsl(var(--clr-navy800));
  background-color: hsl(var(--clr-silver400));
  box-shadow: inset 0 -0.25rem hsl(var(--clr-silver500));
}

.secondary-button-1:hover {
  background-color: hsl(var(--clr-orange300));
}

.secondary-button-2:hover {
  background-color: hsl(var(--clr-silver300));
}

/* DESIGN */

.app-container {
  padding: 1.25rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;;
  justify-items: space-between;
}

.logo {
  justify-self: left;
}

.turn {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  border-radius: 0.32rem;
  padding: 0.6rem 1rem;
  padding-bottom: calc(0.6rem + 0.25rem);
  /* width: max-content; */

  font-size: 0.875rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.06em;

  cursor: default;

  color: hsl(var(--clr-silver400));
  background-color: hsl(var(--clr-navy700));
  box-shadow: inset 0 -0.25rem hsl(var(--clr-navy900));
}

.restart {
  justify-self: right;

  border-radius: 0.32rem;
  padding: 0.67rem;
  padding-bottom: calc(0.67rem + 0.25rem);
  aspect-ratio: 1/1;

  font-size: 0.875rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.06em;

  cursor: pointer;

  background-color: hsl(var(--clr-silver400));
  box-shadow: inset 0 -0.25rem hsl(var(--clr-silver500));
}

.restart:hover {
  background-color: hsl(var(--clr-silver300));
}

.restart > img {
  width: 1rem;
  height: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(3, 6rem);
  width: max-content;
}

.cell {
  display: block;
  border: none;
  border-radius: 1rem;
  padding: 1.5rem;
  padding-bottom: calc(1.5rem + 0.5rem);
  aspect-ratio: 1;

  font-size: 1.25rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.06em;

  cursor: pointer;

  background-color: hsl(var(--clr-navy700));
  box-shadow: inset 0 -0.25rem hsl(var(--clr-navy900));
}

